<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>layui</title>
<link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body>

<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    
    <ul class="layui-nav" lay-filter="">
      <li class="layui-nav-item"><a href="/">主页</a></li>
        <li class="layui-nav-item layui-this"><a href="/website_info">网站</a></li>
        <li class="layui-nav-item"><a href="/sub_page_info">子页面</a></li>
        <li class="layui-nav-item"><a href="/class_info">分类</a></li>         
    </ul>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <img src="http://www.kevinnan.org.cn/usr/images/me.jpg" class="layui-nav-img">
          nachr
        </a>
        <dl class="layui-nav-child">     
          <dd><a href="/website_info" target="_blank">Management</a></dd>
        </dl>
      </li>
    </ul>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding-top: 2%;">
        <h2>
            <strong style="font-family: Arial, Helvetica, sans-serif;">新增网站</strong>            
        </h2>
    </div>
    <div style="padding-top: 5%; padding-right:30%; padding-left:20%;">
      <form class="layui-form layui-form-pane" action="">

        <div class="layui-form-item"> <label class="layui-form-label">网站标题</label>
          <div class="layui-input-block">
           <input type="text" name="website_title"  required  lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item"> <label class="layui-form-label">网址</label>
          <div class="layui-input-block">
           <input type="text" name="website_url" required  lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item layui-form-text"> <label class="layui-form-label">网站介绍</label>
          <div class="layui-input-block"> 
            <textarea placeholder="请输入内容" name="website_detail" required  lay-verify="required" class="layui-textarea"></textarea>
          </div>
         </div>

         <div class="layui-form-item"> <label class="layui-form-label">目录选择</label>
          <div class="layui-input-inline"> 
            <select name="website_class_1" lay-filter="class_1" lay-verify="required">
              <option value="">一级目录</option>
              <% for(var i = 0; i < class_data_list.length; i++){ %>
                <option value= <%= class_data_list[i].class_parent %> >
                  <%= class_data_list[i].class_parent %>
                </option> 
              <% } %>  
            </select>
          </div>
          <div class="layui-input-inline"> 
            <select name="website_class_2" id="id_class_2" lay-filter="class_2">              
            </select>
          </div>
         </div>
        <div class="layui-form-item">
          <div class="layui-input-block"> 
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
         </div>
       </form>
    </div>
  </div>

</div>

<script src="./layui/layui.js"></script>
<script>
//JS 
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;
  
  //头部事件
  util.event('lay-header-event', {
    //左侧菜单事件
    menuLeft: function(othis){
      layer.msg('展开左侧菜单的操作', {icon: 0});
    }
  });
});

layui.use(['jquery', 'form'], function(){
  var form = layui.form;
  //监听提交
  form.on('submit(demo1)', function(data){
    // layer.msg(JSON.stringify(data.field));
    console.log(JSON.stringify(data.field));
    layui.$.ajax({
        url : '/api/website-info-post',
        type : 'post',
        dataType : 'json',
        contentType :"application/json",
        data :  JSON.stringify(data.field),
        success: function(data){
            console.log('接收');
            if(data.i_judge === 19)
                layer.msg("写入失败，分类已存在");
            else
                layer.msg("写入成功");
            },
            error: function(){
                console.log('失败');
            }
    })
    return false;
  });
  form.on('select(class_1)', function(data){
    // console.log(data);
    var class_data_list = JSON.parse('<%- JSON.stringify(class_data_list) %>');
    // console.log(class_data_list);
    let class_2_data = [];
    for(var i = 0; i < class_data_list.length; i++){
      if(data.value === class_data_list[i].class_parent){
        class_2_data = class_data_list[i].class_child;
        break;
      }
    }
    let options = '<option value="">二级目录</option> ';
    for (var i = 0; i < class_2_data.length; i++) {
        options += '<option value="' + class_2_data[i] + '">' + class_2_data[i] + '</option>'
    }
    // console.log(data.elem);
    // console.log(options);
    layui.$('#id_class_2').children().remove()
    layui.$('#id_class_2').append(options);  
    // form.render('select', "class_2");
    form.render('select');
  });  
});
</script>
</body>
</html>
