<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>layui</title>
<link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body>

<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item"><a href="/">主页</a></li>
        <li class="layui-nav-item"><a href="/website_info">网站</a></li>
        <li class="layui-nav-item"><a href="/sub_page_info">子页面</a></li>
        <li class="layui-nav-item layui-this"><a href="/class_info">分类</a></li>         
    </ul>

    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-md-inline-block">
        <a href="javascript:;">
          <img src="http://www.kevinnan.org.cn/usr/images/me.jpg" class="layui-nav-img">
          nachr
        </a>
        <dl class="layui-nav-child">     
          <dd><a href="/website_info" target="_blank">Management</a></dd>
        </dl>
      </li>
    </ul>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding-top: 2%;">
        <h2>
            <strong style="font-family: Arial, Helvetica, sans-serif;">管理分类</strong>
            <a href="/add_class_info" class="layui-btn layui-btn-sm" target="_blank" style="font-size: medium;">新增</a>
        </h2>
    </div>
    <div style="padding-top: 5%; padding-right:20%; padding-left:10%;">

      <table class="layui-hide" id="test" lay-filter="test"></table>
      <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
      </script>
    
    </div>
  </div>

</div>

<script src="./layui/layui.js"></script>
<script>
//JS 
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;
  
  //头部事件
  util.event('lay-header-event', {
    //左侧菜单事件
    menuLeft: function(othis){
      layer.msg('展开左侧菜单的操作', {icon: 0});
    }
  });
});

layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#test'
    ,url:'/api/class-info'
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,title: '网站分类表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'website_class_child', title:'名称', fixed: 'left'}
      ,{field:'website_class_parent', title:'父分类', sort: true}      
      ,{field:'website_class_abbreviation', title:'缩略名'}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}
    ]]
    ,page: true,
  });

  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'del'){
      layer.msg('暂不提供删除功能')
    } else if(obj.event === 'edit'){
      layer.msg('暂不提供编辑功能')
    }
  });
});

</script>
</body>
</html>
